*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

.project
.recommenders

.externalToolBuilders/


*.launch

.cproject


.classpath

.factorypath

.buildpath

*/target


.texlipse